* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Jost", sans-serif;
}

/* HEADER */
header {
    border-bottom: 1px solid rgb(180, 180, 180);
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100px;
    z-index: 9;
    transition: all 0.5s;
}

/* Logo */
header #portNav .navbar-brand {
    font-size: 1.9rem;
    font-weight: bold;
    color: white;
}

header #portNav .navbar-brand .logo_bottom {
    font-size: 0.9rem;
    margin: -7px 0 0 40px;
}

header #portNav .navbar-brand i {
    color: #00a63f;
}

header #portNav #navbarScroll .navbar-nav {
    margin-left: 50px;
}

header #navbarScroll .navbar-nav a.nav-link {
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0 5px 0 20px;
}

header #navbarScroll .navbar-nav a.dropdown-item {
    color: #6c6888;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 5px 0 20px;
}

header #navbarScroll .navbar-nav .page i {
    color: white;
}

header #navbarScroll .dropdown-menu {
    width: 195px;
    line-height: 40px;
    border: 1px solid rgba(108, 104, 136, 0.1);
    border-radius: 15px;
}

header #navbarScroll .navbar-nav i {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}

/* Nút search */
header #navbarScroll i.fa-search {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #00a63f;
    line-height: 46px;
    text-align: center;
    cursor: pointer;
    color: white;
    z-index: 999;
}

.zoomed {
    animation: zoom-out 0.5s;
    opacity: 0;
}

.normal {
    animation: zoom-in 0.5s;
}

/* Cụm 2 nút search và đổi theme */
#portNav #navbarScroll .button_right {
    position: absolute;
    top: 22px;
    right: 0;
}

/* button light/dark */
#switchButton {
    font-size: 25px;
    color: black;
    transition: all 0.5s;
    height: 46px;
}

/* ngăn di chuyển nút serach khi bấm nút đổi theme */
#switchButton::after {
    content: "22";
    font-size: 26px;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

#switchButton .fa-moon {
    color: white;
}

#switchButton:focus {
    box-shadow: none;
}

/* Light theme */
#myBody {
    background-color: white;
    transition: all 0.5s;
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}

/* Dark Theme*/
/* khi ko thể áp màu chữ nên thêm trực tiếp thẻ   darkthem   nếu cần chuyển chữ màu trắng và    darktheme_gray   nếu cần chuyển màu xám*/
.dark#myBody {
    background-color: rgb(21, 20, 33);
    color: white;
    transition: all 0.5s;
}

.dark #switchButton {
    color: white;
}

.dark #switchButton .fa-sun {
    display: block;
}

.dark #switchButton .fa-moon {
    display: none;
}

#myBody.dark .darktheme {
    color: white;
}

#myBody.dark .darktheme_gray {
    color: rgb(180, 180, 180);
    transition: all 0.5s;
}

#myBody.dark #navbarScroll dropdown-menu {
    border: 0.2px solid rgba(180, 180, 180, 0.1);
    background-color: black;
}

/* Full search */
.full_search {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    overflow: hidden;
    z-index: 99;
}

.full_search .overplay_full {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    position: absolute;
    top: 27px;
    right: 12%;
    animation: zoomfull 0.5s forwards;
    transition: all 0.5s;
    z-index: 2;
}

.full_search .fa-close {
    color: white;
    position: absolute;
    top: 70px;
    right: 12%;
    z-index: 9;
    font-size: 80px;
    cursor: pointer;
    animation: rotateX 0.5s;
    transition: all 0.5s;
}

.full_search input.input-search {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 54px;
    outline: 0;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.full_search input.input-search::placeholder {
    color: white;
    font-weight: 300;
}

/* menu show khi màn hình thu nhỏ */
.navbar-toggler {
    background-color: #00a63f;
}

.navbar-toggler i {
    color: white;
}

#portNav #navbarScroll.navbar-collapse.show .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#portNav #navbarScroll.navbar-collapse.show {
    margin-left: 0 !important;
    margin: 20px 0;
    text-align: center;
    align-items: center;
}

#portNav #navbarScroll.navbar-collapse.show li {
    width: 100%;
    height: 1.7rem;
}

#portNav #navbarScroll.navbar-collapse.show a {
    font-size: 1rem;
    line-height: 1.2rem;
}

#portNav #navbarScroll.navbar-collapse.show .nav-item.dropdown .page {
    padding: 0 !important;
    text-align: center;
    width: 100%;
}

#portNav #navbarScroll.navbar-collapse.show ul.dropdown-menu {
    width: 100%;
    text-align: center;
}

.dark#myBody #portNav #navbarScroll.navbar-collapse ul.dropdown-menu {
    background-color: #151421;
}

#portNav #navbarScroll.navbar-collapse.show ul.dropdown-menu a {
    font-size: 0.9rem;
}

#portNav #navbarScroll.navbar-collapse.show .nav-item.dropdown i {
    position: absolute;
    top: 0;
    right: 0;
}

/* đổi màu header khi scoll */
#header.scrolled {
    background-color: white;
    border: none;
    height: 80px;
}

#header.scrolled.darktheme {
    background-color: #151421;
}

#header.scrolled .navbar #portNav {
    transform: translateY(-10px);
    transition: all 0.3s;
}

#header.scrolled #navbarScroll .navbar-nav #active a {
    color: #00a63f;
}

#header.scrolled .logo,
#header.scrolled #switchButton .fa-moon {
    color: #3f3a64;
}

#header.scrolled #navbarScroll .navbar-nav a.nav-link,
#header.scrolled #navbarScroll .navbar-nav i {
    color: #6c6888;
}

/* CAROUSEL */
.carousel {
    height: 110vh;
}

.carousel .carousel_overplay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(47, 56, 66, 0.7);
}

/* đường sóng lượn */
.carousel svg {
    position: absolute;
    bottom: 0;
    left: 0;
    fill: white;
    transition: all 0.5s;
    z-index: 5;
}

.dark#myBody .carousel svg {
    fill: #151421;
}

/* 2 nút trái/phải */
.carousel .button_control {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 100px;
    position: absolute;
    bottom: -1.5%;
    right: 2%;
    z-index: 7;
}

.carousel .button_control button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 6px rgba(108, 104, 136, 0.3);
    color: #151421;
    background-color: white;
    opacity: 1;
    transition: all 0.5s;
}

.dark#myBody .carousel .button_control button {
    background-color: #151421;
    border: 1px solid rgba(108, 104, 136, 0.4);
    box-shadow: none;
    color: white;
}

/* content */
.carousel #carouselExampleCaptions img {
    height: 110vh;
    object-fit: cover;
}

.carousel #carouselExampleCaptions .carousel-caption {
    width: 65%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 0;
    z-index: 1;
    text-align: left;
    padding-left: 13%;
}

.carousel .carousel-caption h2 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}

.carousel .carousel-caption p {
    font-size: 20px;
    margin-bottom: 20px;
}

.carousel .carousel-caption button {
    width: 190px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #00a63f;
    color: white;
    font-weight: bold;
    transition: all 0.5s;
}

.carousel #carouselExampleCaptions .carousel-caption button:hover {
    background-color: #008030;
}
/* ABOUT  */
.about {
    margin: 80px 0;
}

.about_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about ul {
    list-style: none;
}

.About__right {
    position: relative;
}

#about .title-small {
    color: #7e7d7d;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 1;
    letter-spacing: 1px;
    line-height: 30px;
    display: block;
}

#about .title-big {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
    color: #212529;
    text-align: left;
}

#about .about_content p {
    font-size: 17px;
    line-height: 27px;
    color: #404040;
    opacity: 0.8;
}

#about .fa {
    display: inline-block;
    color: #00a63f;
    margin-right: 5px;
}

#about a {
    color: #404040;
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    font-weight: 550;
}

#about .service-list li {
    margin: 10px 0;
}

#about .img-fluid {
    border-radius: 10px;
}

#about .about_content .service-list li:last-child {
    margin-bottom: 0;
}

.dark#myBody .about {
    background-color: #151421;
}

.dark#myBody .about__title {
    color: #fff;
}

.dark#myBody .about_content ul a {
    color: #fff;
}


/* CHALENGE  */
.challenge {
    margin-bottom: 80px;
    padding: 60px 0;
    background-color: #f7f7f7;
}

#challenge .challenge__main {
    align-items: center;
}

#challenge .challenge__content p:first-of-type {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}

#challenge .challenge__content h2 {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}

#challenge .challenge__content p:last-of-type {
    font-size: 17px;
    line-height: 27px;
    opacity: 0.8;
    color: #404040;
}

.challenge__content .btn__style {
    background-color: #00a63f;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    transition: 0.3s ease-in;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #fff;
    padding: 15px 50px;
}

.challenge__content .btn__style:hover {
    background-color: #00802b;
}

#challenge .challenge__gird {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

#challenge .challenge__item {
    padding: 40px 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    background-color: #fff;
    transition: 0.3s ease;
}

#challenge .challenge__item:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
        rgba(71, 63, 79, 0.16) 0px 5px 10px;
    transition: 0.3s ease;
}

#challenge .challenge__item .title__head {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: #3f3a64;
    text-decoration: none;
}

#challenge .challenge__item a {
    text-decoration: none;
}

#challenge .challenge__item .title__head:hover {
    color: #00802b;
}

.dark#myBody .challenge {
    background-color: #100f19;
}

.dark#myBody .challenge__right .challenge__item {
    background-color: #181723;
}

.dark#myBody .challenge__item h4 {
    color: #fff;
}


/* SERVICES */
.services {
    padding: 100px 0;
}

.services h2 {
    padding: 0 0 50px 0;
    font-weight: bold;
}

.services .row {
    width: calc(400px * 3);
    position: relative;
}

.services .row .card {
    border-radius: 10px;
    overflow: hidden;
    border: none;
    background-color: inherit;
    height: 400px;
}

.services .card .services_img {
    position: absolute;
    top: 0;
    left: 0;
}

.services .card .services_img::after {
    content: attr(title);
    box-shadow: 1px 1px 3px rgba(63, 58, 100, 0.2);
    border-radius: 10px;
    background-color: white;
    color: black;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 19px;
    font-weight: bold;
    width: 70%;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.dark#myBody .services .card .services_img::after {
    background-color: #151421;
    color: white;
    border: 1px solid rgba(108, 104, 136, 0.244);
}

.services .card .services_img:hover::after {
    color: #00a63f !important;
}

.services .card img {
    width: 100%;
    object-fit: cover;
}

.services .card p {
    margin-top: 40px;
    color: #6c6888;
    position: absolute;
    width: 80%;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services .card button {
    display: block;
    margin: auto;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: black;
    transition: all 0.5s;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services .card button:hover {
    color: #00a63f;
}

.dark#myBody .services .card button {
    color: white;
}

.dark#myBody .services .card button:hover {
    color: #00a63f;
}

/* GALLERY  */
 #gallery .gallery_item a{
    text-decoration: none;
}
#gallery .gallery_item .hover-content .content{
    font-size: 18px;
    color: #eee;
    display: block;
}
#gallery .gallery_item .title{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}
#gallery .title-content{
    max-width: 800px;
    margin: auto;
}
#gallery .title-content .title-small{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}
#gallery .title-content .title-big{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}
#gallery .gallery_item{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
#gallery .gallery_item .overlay__hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(29, 42, 55, 0.8);
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}
#gallery .gallery_item .gallery__zoom{
    overflow: hidden;
    position: relative;
}
#gallery .gallery_item img{
    display: block;
    transition: 0.3s ease-in-out;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#gallery .gallery_item a:hover img{
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

#gallery .gallery_item .hover-content{
    position: absolute;
    bottom: -100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    padding: 46px 50px;
    color: #ffffff;
    z-index: 2;
}
#gallery .gallery__zoom:hover .overlay__hover{
    visibility: visible;
    opacity: 1;
}
#gallery .gallery_item:hover .hover-content{
    bottom: 0;
    visibility: visible;
    opacity: 1;
} 
.dark#myBody .gallery{
    background-color: #100f19;
}
/* REVIEWS  */
.reviews{
    background-color: #f8f9fa;
}
#reviews .reviews__layout .title-small{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}
#reviews .reviews__layout .title-big{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}
#reviews .reviews__content .content{
    display: block;
    padding: 40px 30px;
    position: relative;
    border: none;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    text-align: center;
}
#about .reviews__content blockquote{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    margin-bottom: 1.5rem;
}
#reviews .reviews__bottom{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    text-align: left;
    gap: 20px;
}
#reviews .reviews__bottom .test-img{
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
}
#reviews .reviews__bottom .test-img img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}
#reviews .reviews__text h3{
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}
#reviews .reviews__text .student{
    font-size: 17px;
    line-height: 27px;
    color: #666;
    font-style: normal;
    margin-bottom: 0;
    opacity: 0.8;
}
#reviews .reviews__text {
    margin-top: 15px;
}
/* DOTS  */
.owl-theme .owl-dots .owl-dot.active span,
.owl-two.owl-theme .owl-dots .owl-dot:hover span {
    transform: scale(1.5);
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span 
 {
    background: #213364;
    transform: scale(1.5);
    opacity: 1;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 10px;
    background: #aaa;
    display: block;
    transition: opacity .2s ease;
    position: relative;
    opacity: 0.9;
    border-radius: 8px;
    transition: 0.3s;
}
/* dark#myBody  */
.dark#myBody .reviews{
    background-color: #100f19;
}
.dark#myBody blockquote{
    color: #c2c2c2;
}

/* subscribe */
.subscribe{
    background-image: url(../img/map.png);
    background-color: #151421;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 40px;
}
#subscribe .bottom-info{
    max-width: 700px;
    margin: 0 auto;
}
#subscribe .title-big{
    color: #fff;
    font-size: 35px;
    line-height: 45px;
    font-weight: 7000;
}
#subscribe .header__section p{
    color: #eee;
    font-size: 17px;
    line-height: 27px;
    opacity: 0.8;
}
#subscribe form{
    margin-top: 25px;
    position: relative;
    display: grid;
    grid-template-columns: 50px 1fr auto;
    max-width: 550px;
    margin: auto
}
#subscribe .input-group-text{
    color: #999;
    background-color:rgba(0, 0, 0, 0.25);
    border-color: rgba(255, 255, 255, 0.15);
    padding: 0 15px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
#subscribe .fa{
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
#subscribe input[type="email"]{
    padding: 14px 20px;
    font-size: 16px;
    line-height: 28px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    outline: none;
    width: 100%;
    background: #151421;
    border-radius: 0;
    color: #999;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.15);
    border-left: none;
}
.subscribe .btn-style {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 25px;
    font-size: 16px;
    background-color: #008030;
    border: none;
    transition: 0.5s;
}
.subscribe .btn-style:hover {
    color: #fff;
    background-color: #015120;
    border-color: #015120;
}
/* FOOTER      */
.footer{
    background: #151421;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}
#footer .footer__list a{
    text-decoration: none;
}
#footer .footer__list ul li{
    list-style: none;
}
#footer .footer__logo span:first-of-type{
    color: #00802b;
}
#footer .footer__list ul li a{
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
    opacity: .8;
    transition: 0.5s all;
}
#footer .footer__list ul li a:hover{
    color: #fff;
    opacity: 1;
}
#footer .footer__list a{
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
    opacity: 0.8;
    transition: .5s all;
}
#footer .footer__list a:hover{
    color: #fff;
    opacity: 1;
}
#footer .footer__logo .navbar-brand{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    opacity: 1;
    display: inline-block;
}
#footer .footer__logo .logo{
    text-transform: none;
    display: block;
    font-size: 14px;
    padding-left: 46px;
    font-weight: 600;
    opacity: .9;
}
#footer .footer__list p{
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
}
#footer .footer__list .footer-title{
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 25px;
    font-weight: 400;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
}
#footer .copyright .footer__copy {
    color: #7f8a94;
    font-size: 17px;
    letter-spacing: .5px;
    opacity: 1;
}
#footer .copyright .footer__copy a{
    text-decoration: none;
    color: #00802b;
    transition: 0.5s all;
}
#footer .copyright .footer__copy a:hover{
    color: #fff;
    opacity: 0.8;
}
/* backtotop */
.back-to-top {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    color: white;
    background-color: #00a63f;
    border-radius: 50%;
    position: fixed;

    opacity: 0;
    visibility: hidden;
}

.back-to-top:hover i {
    color: white;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: 1;
}

/* MEDIA RESPONSIVE */
/* about & challenge  */
@media screen and (max-width: 1200px) {
    /* about  */

    #about .title-big {
        font-size: 32px !important;
        line-height: 40px;
    }
    /* challenge  */
    .challenge__title {
        font-size: 30px !important;
        line-height: 38px;
    }
}

@media screen and (max-width: 992px) {
    .challenge .challenge__gird {
        padding: 1.5em;
    }
}

@media (max-width: 768px) {
    /* about  */
    #about .title-big {
        font-size: 30px !important;
        line-height: 38px;
    }

    #about .service-list li {
        margin-bottom: 10px;
    }
    /* challenge  */
    #challenge .challenge__item .title__head {
        font-size: 18px;
    }
    
    #challenge .challenge__text {
        margin: 14px 0 26px;
    }
}

@media screen and (max-width: 576px) {
    /* about  */
    #about .about__img .row {
        padding: 0 10px;
    }

    #about .about__img .row .col-6 {
        padding: 0 5px;
    }

    #about .title-big {
        font-size: 26px !important;
        line-height: 32px;
    }

    #about .service-list li {
        margin-bottom: 5px;
    }
    /* challenge  */
    .challenge__title {
        font-size: 30px !important;
        line-height: 38px;
    }
    
    #challenge .challenge__text {
        margin: 0px;
        margin-bottom: 10px;
    }
    
    .title-small {
        margin-bottom: 0;
    }
    
    .challenge__gird .challenge__item img {
        width: 45px;
    }
    
    #challenge .challenge__gird .challenge__item {
        padding: 15px 10px;
    }
    
    #challenge .challenge__gird {
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        margin: 0;
        padding: 15px;
    }
    
    .challenge__title {
        font-size: 26px !important;
        line-height: 32px;
    }
    
    #challenge .btn__style {
        padding: 12px 30px;
    }
}



@media screen and (max-width: 1399.98px) {

    /* services */
    .services .row {
        width: calc(380px * 3);
    }
}

@media screen and (max-width: 1199.98px) {

    /* carousel */
    .carousel {
        height: 110vh;
    }

    .carousel #carouselExampleCaptions img {
        height: 110vh;
    }

    .carousel .carousel-caption h2 {
        font-size: 50px;
    }

    .carousel #carouselExampleCaptions .carousel-caption {
        width: 70%;
        padding-left: 11%;
    }

    /* services */
    .services .row {
        width: calc(320px * 3);
        height: 380px;
    }

    .services .card p {
        top: 60%;
    }

    .services .card button {
        top: 85%;
    }
}

@media screen and (max-width: 991.98px) {

    /* carousel */
    .carousel {
        height: 100vh;
    }

    .carousel #carouselExampleCaptions img {
        height: 100vh;
    }

    .carousel .carousel-caption h2 {
        font-size: 45px;
    }

    .carousel #carouselExampleCaptions .carousel-caption {
        width: 80%;
        padding-left: 9%;
    }

    /* services */
    .services .row {
        width: calc(360px * 2);
        height: 380px;
    }

    .services .card p {
        top: 62%;
    }

    .services .card button {
        top: 85%;
    }

    .services .card#last_card {
        width: 330px;
        transform: translateX(50%);
    }

    .services .card .services_img::after {
        width: 85%;
    }
}

@media screen and (max-width: 767.98px) {

    /* Carousel */
    .carousel {
        height: 90vh;
    }

    .carousel #carouselExampleCaptions img {
        height: 90vh;
    }

    .carousel .carousel-caption h2 {
        font-size: 40px;
    }

    .carousel #carouselExampleCaptions .carousel-caption {
        width: 90%;
        padding-left: 7%;
    }

    /* services */
    .services .row {
        height: 1530px;
        width: 510px;
    }

    .services .card#last_card {
        width: 510px;
        height: 500px;
        transform: translateX(0);
    }

    .services .col-12 .card {
        width: 510px;
        height: 500px;
    }

    .services .card p {
        top: 72%;
    }

    .services .card button {
        top: 90%;
    }

    .services .card .services_img::after {
        width: 60%;
    }
}

@media screen and (max-width: 575.98px) {

    /* Carousel */
    .carousel {
        height: 80vh;
    }

    .carousel #carouselExampleCaptions img {
        height: 80vh;
    }

    .carousel .carousel-caption h2 {
        font-size: 35px;
    }

    .carousel #carouselExampleCaptions .carousel-caption {
        width: 100%;
        padding-left: 5%;
    }

    /* services */
    .services .row {
        /* height: 1530px; */
        width: 95%;
    }

    .services .col-12 .card {
        width: 100%;
        /* height: 500px; */
    }

    .services .card#last_card {
        width: 100%;
        /* height: 500px; */
        transform: translateX(0);
    }

    .services .card p {
        top: 64%;
    }

    .services .card button {
        top: 85%;
    }
}

/* RESPONSIVE 
REVIEWS */
@media screen and (max-width: 1200px) {
    #reviews .reviews__text h3{
        font-size: calc(1.3rem + 0.6vw);
    }

}

@media screen and (max-width: 992px) {
    #reviews .title-big{
        font-size: 32px !important;
        line-height: 40px;
        
    }

}

@media screen and (max-width: 576px){
    #reviews .mb-sm-5{
        margin-bottom: 3rem;
    }
}

/* RESPONSIVE 
Footer */
@media screen and (max-width: 1200px){
    /* .subscribe  */
    #subscribe .title-big{
        font-size: 32px;
        line-height: 40px;
    }
}

@media screen and (max-width: 992px){
    #footer .footer__list .footer-title{
        margin-bottom: 20px;
        font-size: 20px;
    }
    #footer .footer__copy{
        text-align: center;
    }

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 568px){
    /* SUBSCRIBE  */
    #subscribe .title-big {
        font-size: 30px;
        line-height: 38px;
    }
    form .subscribe{
        grid-template-columns: 42px 1fr auto;
    }
    #subscribe .input-group-text{
        padding: 0 12px;
        font-size: 15px;
    }
    #subscribe .btn-primary{
        padding: 0 20px;
    }
    /* FOOTER  */
    #footer .navbar{
        font-size: 26px;
    }
    #footer .footer__list p{
        font-size: 17px;
    }
    #footer .footer__social a{
        font-size: 17px;
    }
    #footer .footer__list .mb-2{
        font-size: 17px;
    }
    #footer .footer__copy{
        font-size: 17px;
    }
    #footer .footer__copy a{
        font-size: 17px;
    }
}


/* ANIMATE ANIMATION */
:root {
    --animate-duration: 900ms;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 500ms;
}

/* Keyframe HEADER*/
/* Keyframe Search Button */
@keyframes zoom-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(24);
    }
}

@keyframes zoom-in {
    0% {
        opacity: 1;
        transform: scale(48);
    }

    100% {
        transform: scale(1);
    }
}

/* Keyframe search full */
@keyframes zoomfull {
    50% {
        background-color: #00a63f;
    }

    100% {
        background-color: #00a63f;
        transform: scale(96);
    }
}

/* Keyframe rotate buttonX */
@keyframes rotateX {
    100% {
        transform: rotate(-90deg);
    }
}